*{
    font-family: 'Times New Roman', Times, serif;
}
h1.Titulo1{
    font-family: Arial, Helvetica, sans-serif;
}
p.TextoDeCarta{
    display: flex;
    justify-content: right;
    justify-content: center;
    
   
    
}

@font-face {
    font-family:Amatic;
    src: url(/Fuentes/AmaticSC-Bold.ttf);

    font-family:Jersey ;
    src: url(/Fuentes/Jersey25-Regular.ttf);

    font-family:Amatic-bold ;
    src: url(/Fuentes/AmaticSC-Bold.ttf);

}

h6.pieDeFoto{
   font-family:Amatic-bold;
    color: rgb(5, 16, 170);
}


strong.me-auto{
    color: rgb(5, 163, 236);
    font-family:Amatic;
}
p.Redeslogo{
    color: rgb(15, 209, 57);
    font-family:Amatic;
}


h2.tituloMargen{

    color: azure;
    font-family:Jersey;

}
#elViaje{
    color: rgb(0, 225, 255);
}
#scrollspyHeading1{
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}
#tituloPionero{
    color: rgb(0, 17, 255);
    font-family: 'Courier New', Courier, monospace;
}
#scrollspyHeading2{
    color: blue;
    font-family:'Courier New', Courier, monospace
}
#laExplocion{
    color: blue;
    font-family:'Courier New', Courier, monospace 
}
#scrollspyHeading4{
    color: blue;
    font-family:'Courier New', Courier, monospace  
}
#vision{
color: darkred;
font-family:Amatic-bold;
}
#Adaptación{
color: darkred;
font-family:Amatic-bold;
}
#Robots{
color: darkred;
font-family:Amatic-bold;
}
#Interacción{
color: darkred;
font-family:Amatic-bold;
}
body{
    background-color: #4EA6E3 ;
}
    



