*{
    font-family: 'Times New Roman', Times, serif;
}
h1.Titulo1{
    font-family: Arial, Helvetica, sans-serif;
}
p.TextoDeCarta{
    display: flex;
    justify-content: right;
    justify-content: center;
    
   
    
}

@font-face {
    font-family:Amatic;
    src: url(/Fuentes/AmaticSC-Bold.ttf);

    font-family:Jersey ;
    src: url(/Fuentes/Jersey25-Regular.ttf);
}

strong.me-auto{
    color: rgb(5, 163, 236);
    font-family:Amatic;
}
p.Redeslogo{
    color: rgb(15, 209, 57);
    font-family:Amatic;
}


h2.tituloMargen{

    color: azure;
    font-family:Jersey;

}
#elViaje{
    color: blue;
}
#scrollspyHeading1{
    color: blue;
}
#tituloPionero{
    color: aqua;
}
#pionerosIa{
    color: rgb(48, 34, 250);
}



